.CarouselContainer {
    position: relative;

    .insurancePublicationButton {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        z-index: 1;
        font-size: (28rem/24);
        width: (291rem/24);
        height: (80rem/24);
        box-sizing: border-box;
    }

    .slide {
        background-size: cover;
    }
}